@model RAD_LAB4_MVC.Models.Supplier
@using System.Linq
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
    </dl>
</div>
<div>
    <h5>Products supplied</h5>
    @if (Model.Products != null && Model.Products.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Quantity In Stock</th>
                    <th>Date First Issued</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.OrderBy(p => p.Description))
                {
                    <tr>
                        <td>@product.Description</td>
                        <td>@product.UnitPrice.ToString("C")</td>
                        <td>@product.QuantityInStock</td>
                        <td>@product.dateFirstIssued.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>This supplier is not currently linked to any products.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
